body{
    font-family: 'Open Sans', sans-serif;
    background: #fff8f3;
}
header{
    background: #fff8f3;
    background-image: url("images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
nav a{
    text-decoration: none;
    color: #474747;
}
nav li button a{
    color: white;
}
nav li button:hover a {
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 130px;
}
nav > ul{
    list-style: none;
}
nav li{
    display: inline;
    padding: 0 20px;
}
nav li button{
    background: #FD6E0A;
    font-size: 15px;
    border-radius: 3px 5px;
    padding: 7px 14px;
}
nav li button:hover{
    background: white;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 180px;
}
.container button{
    background: #FD6E0A;
    font-size: 15px;
    border-radius: 3px 5px;
    padding: 10px 12px;
    margin-right: 8px;
}
.container button a{
    color: white;
    text-decoration: none;
}
.profile-pic{
    width: 450px;
}


/* main section */

#about{
    text-align: center;
    margin: 100px 200px;
    color: #181818;
}
#about table{
    text-align: center;
    margin-bottom: 0px auto;
}
.personal-data{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#skills{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 180px;
    text-align: center;
}

#skills div{
    padding: 0 10px;
}
section{
    margin: 100px 200px;
}
section .section-title{
    text-align: center;
}
section .cv-class{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 1140px;
}
.cv-class .edu{
    gap: 50px;
}
.cv-class .edu p{
    padding-bottom: 130px;
}
section button{
    background: #FD6E0A;
    font-size: 15px;
    border-radius: 3px 5px;
    padding: 7px 16px;
    text-align: center;
}
section button a{
    color: white;
    text-decoration: none;
}

.footer1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    padding: 20px;
    margin: 20px 160px;
}
.form input[type = text]{
    padding: 12px;
    margin: 10px;
    border: 0;
}
.form input[type = email]{
    padding: 12px;
    margin: 10px;
    border: 0
}
.form textarea{
    padding: 12px;
    margin: 10px;
    border: 0;
}
.form input[type = submit], input[type = reset]{
    background: #FD6E0A;
    font-size: 15px;
    border-radius: 3px 5px;
    padding: 7px 16px;
    text-align: center;
    color: white;
}