body{
    font-family: 'Open Sans', sans-serif;
}
header{
    background: #fff8f3;
    background-image: url("images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
nav a{
    text-decoration: none;
    color: #474747;
}
nav li button a{
    color: white;
}
nav li button:hover a {
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 130px;
}
nav > ul{
    list-style: none;
}
nav li{
    display: inline;
    padding: 0 20px;
}
nav li button{
    background: #FD6E0A;
    font-size: 15px;
    border-radius: 3px 5px;
    padding: 7px 14px;
}
nav li button:hover{
    background: white;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 180px;
}
.container button{
    background: #FD6E0A;
    font-size: 15px;
    border-radius: 3px 5px;
    padding: 10px 12px;
    margin-right: 8px;
}
.container button a{
    color: white;
    text-decoration: none;
}
.profile-pic{
    width: 450px;
}


/* main section */

#about{
    text-align: center;
    margin: 100px 200px;
    color: #181818;
}
#about table{
    display: flex;
    align-items: center;
    justify-content: center;
}
